%ic {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[class*="_icon-"] {
  &:before {
    @extend %ic;
    display: block;
  }
}
._icon-location-pin:before {
  content: "\e901";
}
._icon-check-badge:before {
  content: "\e902";
}
._icon-banknotes:before {
  content: "\e900";
}
._icon-star:before {
  content: "\e908";
}
._icon-gift:before {
  content: "\e90a";
}
